/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 May, 2022, 10:09:44 PM
    Author     : Anju
*/
/*body{
  background-image: url('pics/new_home.png');
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}*/
footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
  position : absolute;
  bottom : 0;
  width: 100%;
    
 
}
.topnav {
  background-color: #333;
  overflow: hidden;
  position : absolute;
  top : 0;
  width: 100%;
  height: 100%;
  line-height:2;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
/*.container {
  position: relative;
  width: 100%;

  max-width: 400px;
}*/

/*.container img {
  width: auto;
  height: auto;
}*/

/*.container .btn {
  position: absolute;
  top: 10%;
  left: 92%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00cccc;
  color: whitesmoke;
  font-size: 16px;
  padding: 24px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}*/

.container .btn:hover {
  background-color: black;
}
.container .btn1 {
  position: absolute;
  top: 10%;
  right: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00cccc;
  color: white;
  font-size: 16px;
  padding: 24px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn1:hover {
  background-color: black;
}
.container .btn2 {
  position: absolute;
  top: 80%;
  right: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #00cccc;
  color: white;
  font-size: 16px;
  padding: 24px 50px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn2:hover {
  background-color: black;
}


